html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        title= 'Hello'
        block css
            link(rel="stylesheet" type="text/css" href='css/helloworld.css')
        block js
            script(src='helloworld.js')
    body
        block content