html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title= "Hello"
    block css
      link(rel='stylesheet', type='text/css', href='styles/container.css')
  body
    block header
    block body
    block footer
    block js
      script(src='js/container.js')
      script(src='http://localhost:35729/livereload.js?snipver=1')
